html,body{
    color: #242930;
}
/*------------------- global ------------------*/
img{
    max-width: 100%;
    /*vertical-align: middle;*/
}
a{
    color: #2A65A8;
}
.poa{
    position: absolute;
}
.por{
    position: relative;
}
.no-padding{
    padding: 0 !important;
}
.pad5{
    padding: 0.5rem;
}
.pad10{
    padding: 1rem;
}
.small-pt{
    padding-top: 0.2rem;
}
.pt5{
    padding-top: 0.5rem !important;
}
.pb5{
    padding-bottom: 0.5rem !important;
}
.pl5{
    padding-left: 0.5rem !important;
}
.pr5{
    padding-right: 0.5rem !important;
}
.no-margin{
    margin: 0 !important;
}
.mar5{
    margin: 0.5rem;
}
.mt5{
    margin-top: 0.5rem !important;
}
.mb5{
    margin-bottom: 0.5rem !important;
}
.ml5{
    margin-left: 0.5rem !important;
}
.mr5{
    margin-right: 0.5rem !important;
}
.mb-small{
    margin-bottom: 0.25rem !important;
}
.small-radius, input.small-radius, a.small-radius{
    -webkit-border-radius: 0.12rem;
    -moz-border-radius: 0.12rem;
    border-radius: 0.12rem;
}
.no-radius, input.no-radius, a.no-radius{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.overflow-hidden{
    overflow: hidden;
}
.text-hidden{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-center{
    text-align: center;
}
.text-gray, a.text-gray {
    color: #888 !important;
}
.small-txt {
    font-size: 0.55rem;
}
.small-title{
    font-size: 0.75rem;
}
.link-weight{
    font-weight: 400;
}
.font-normal{
    font-weight: normal;
}
a.small-btn{
    display: block;
}
a.small-btn i.global-icon, a.small-btn i.base-icon{
    margin-right: -0.3rem;
}
a.btn, .btn{
    display: block;
    color: #242930;
}
.title-padding{
    padding: 0.5rem 0;
}
.sub-title-padding{
    padding: 0.3rem 0;
}
.sub-line-clamp{
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.dividing{
    display: block;
    position: relative;
    width: 100%;
}
.dividing:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.dividing-after{
    display: block;
    position: relative;
    width: 100%;
}
.dividing-after:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.vertical-dividing{
    position: relative;
}
.vertical-dividing:before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 15;
    display: block;
    height: 100%;
    width: 1px;
    background-color: #ddd;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.no-dividing:before, .no-dividing:after{
    content: '';
    display: none !important;
}

.white-bg{
    background-color: #fff !important;
}
.by-label {
    background-color: #999999;
    border-radius: 0.08rem;
    cursor: default;
    white-space: nowrap;
    border-radius: 0.08rem;
    color: #fff;
    display: inline-block;
    font-size: 0.6rem;
    line-height: 0.6rem;
    height: 0.85rem;
    margin-top: 0.1rem;
    margin-left: 0.2rem;
    padding: 0.1rem 0.3rem;
    vertical-align: text-top;
}
.label-warning {
    background-color: #FDC40E;
    border-color: #FDC40E;
    color: #fff;
}
.label-danger {
    background-color: #FB6237;
    border-color: #FB6237;
    color: #fff;
}
.label-info {
    background-color: #5C86EA;
    border-color: #5C86EA;
    color: #fff;
}
.label-success {
    background-color: #91C837;
    border-color: #91C837;
    color: #fff;
}
.label-default, a.label-default {
    border-color: #fff;
    color: #fff;
}

.by-text-warning, a.by-text-warning {
    color: #FDC40E !important;
}
.by-text-danger, a.by-text-danger {
    color: #FB6237 !important;
}
.by-text-info, a.by-text-info {
    color: #5C86EA !important;
}
.by-text-success, a.by-text-success {
    color: #91C837 !important;
}
.by-text-default, a.by-text-default{
    color: #fff !important;
}
.by-text-link{
    margin: 0 0.2rem;
}
.sub-title, a.sub-title{
    color: #5c6066;
}
.m-color, a.m-color{
    color: #242930;
}
.m-bg, a.m-bg, a.button.m-bg, input.m-bg{
    background-color: #242930;
}
.m-bg, a.m-bg:hover, a.m-bg:active, a.button.m-bg:hover, a.button.m-bg:active{
    background-color: #242930;
}
.m-border-color, a.m-border-color{
    border-color: #242930;
}
.m-sub-bg, a.m-sub-bg, a.button.m-sub-bg, input.m-sub-bg{
    background-color: #DBE0E4;
}
.m-active-bg, a.m-active-bg{
    background-color: #FDC40E;
}

.label-switch input[type=checkbox]:checked+.checkbox{
    background: #91C837;
}
.label-switch .switch-title{
    position: absolute;
    top: 0.2rem;
    left: 3rem;
    color: inherit;
    width: 200%;
    color: #999;
}


/*******    media      ******/
.media{
    font-size: 0.75rem;
    overflow: hidden;
}
.media .media-body{
    width: 100%;
    position: relative;
}
.media .media-left, .media > .pull-left {
    padding-right: 0.3rem;
}
.media .media-right, .media > .pull-right {
    padding-left: 0.3rem;
}
.media .media-body, .media .media-left, .media .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-header{
    font-size: 0.75rem;
}
.media img{
    max-width: 5rem;
}
.media .media-img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.media-header.media-absolute{
    height: 1.2rem;
    position: relative;
}
.media-header-inner{
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.header-title-row{
    display: flex;
}
.header-title{
    flex-shrink: 1;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header-title-after{
    display: flex;
    flex-shrink: 0;
    margin-left: 0.2rem;
    white-space: nowrap;
}

.article-title{
    margin: 0;
    font-weight: 800;
    line-height: 1rem;
    font-size: 0.85rem;
}
.article-info{
    margin: 0;
    font-size: 0.77rem;
    line-height: 1rem;
    color: #555;
}
.common-title{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
    margin: 0;
}


/*------------ content --------------*/
.bar-tab .tab-item.active, .bar-tab .tab-item:active{
    color: #929292;
}
.content{
    background: #dbdfe4;
}
.main-bar ~ .content{
    top: 4rem;
}
.main-content{
    overflow: hidden;
}
.main-content .card{
    margin: 0.5rem 0;
    background: none;
}
.main-content .card .card-header:before, .main-content .card .card-header:after{
    content: '';
    display: none;
}
.main-card-title{
    margin: 0;
    width: 100%;
}
.main-content .card-content-inner{
    padding: 0 0.5rem;
}
.main-content .card-header{
    background: #fff;
}
.main-content .card-content{
    margin-top: 0.2rem;
    padding-top: 0.6rem;
    background: #fff;
    overflow: hidden;
}
.main-content .card-content:first-child{
    margin-top: 0;
    padding-top: 0;
}

.zan-btn{
    display: block;
    margin-top: -0.3rem;
    line-height: 0.1rem;
    padding-bottom: 0.3rem;
    font-size: 0.7rem;
}
.fixed-layer{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.footer-bar ~ .fixed-layer{
    bottom: 2.5rem;
}
.fixed-btn{
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    position: fixed;
    bottom: 0.35rem;
    right: 0.5rem;
    z-index: 99999;
}
.footer-bar ~ .content .fixed-btn{
    bottom: 2.7rem;
}
.fixed-btn img{
    width: 100%;
    vertical-align: middle;
}

.control-input, .search-input .control-input{
    border: none;
    height: 2.2rem;
    line-height: 2.2rem;
    width: 100%;
    padding: 0.4rem 0.5rem;
}
.search-input .control-input{
    padding-left: 1.4rem;
}
a.search-btn, a.button.search-btn{
    margin-top: 0.1rem;
    height: 2rem;
    line-height: 2rem;
    margin-left: 3%;
    width: 17%;
    font-size: 0.9rem;
}
.control-textarea{
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    min-height: 5rem;
    background: transparent;
}
.input-cb{
    margin: 0.18rem 0.3rem;
    vertical-align: text-top;
    transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
}
.popup-filter{
    background: rgba(36,41,48,0.88);
    top: auto;
    bottom: 0;
    height: auto;
    max-height: 100%;
}
.popup-filter ~ .popup-overlay{
    opacity: 0;
}
.popup-filter .page, .popup-filter .page .content{
    background: none;
}

/*    2015-11-16   */
.no-content{
    padding: 2rem 0;
}
.no-content .no-content-img{
    width: 6rem;
}

.media-img-admin{
    position: relative;
    overflow: visible;
}
.media-img-admin:before{
    content: '';
    position: absolute;
    top: -0.43rem;
    left: 0;
    width: 1rem;
    height: 0.9rem;
    background: url("../images/admin-icon.png") no-repeat;
    background-size: 100%;
    z-index: 999;
}
.flag-dot{
    display: block;
    width: .25rem;
    height: .25rem;
    background: #ffc40e;
    border-radius: 50%;
    position: absolute;
    top: .25rem;
    right: 25%;
}
.tab-item.active .flag-dot{
    display: none;
}