.media-padding-left-right{
    padding: 0 0.22rem;
}
.media-bottom{
    position: relative;
}
.media-bottom:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.media-bottom .more{
    position: absolute;
    top: 0;
    padding: 0.7rem 0 0.7rem 2rem;
    right: -0.55rem;
    background: -moz-linear-gradient(right,#FFF 0,rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(right,#FFF 0,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(right,#FFF 0,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(right,#FFF 0,rgba(255,255,255,0) 100%);
    background: linear-gradient(right,#FFF 0,rgba(255,255,255,0) 100%);
}
.media-bottom .media-left{
    line-height: 1.7rem;
}
.media-sub-p{
    height: 1.45rem;
    line-height: 0.75rem;
    margin: 0.2rem 0;
    overflow: hidden;;
    font-size: 0.7rem;
}
.page-media-img{
    width: 5rem;
    height: 3.8rem;
}
@media all and (max-width: 320px) {
    .page-media-img{
        width: 4rem;
        height: 3.05rem;
    }
}
.media-bottom-title{
    line-height: 0.8rem;
    width: 2.4rem;
    margin: 0;
}
.join-user-box {
    width: 200%;
    height: 1.7rem;
    overflow: hidden;
}
.join-user-icon{
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    overflow: hidden;
}
.join-user-icon img{
    width: 100%;
    height: 100%;
}
.bottom-btn-group{
    background: #f7f7f7;
}
a.look-all{
    display: block;
}