/*-------------------- header -------------------*/
.footer-menu ~ .content{
    bottom: 0;
}
.footer-bar ~ .content{
    bottom: 2rem;
}

.main-bar{
    height: 4rem;
}
.main-bar .title, .title{
    color: #fff;
    font-size: 0.95rem;
    font-weight: 400;
}
.bar .title.has-small{
    padding: 0.2rem 0;
    line-height: 1rem;
}
.bar .title.has-small small{
    display: block;
    font-size: 0.65rem;
    color: #aaa;
}
.bar{
    background: #242930;
}
header.bar .bar:before, header.bar .bar:after{
    background: none;
}
.bar.bar-nav .button-link{
    padding: 0 0.2rem;
}
.sub-bar{
    bottom: 0;
    height: 2rem;
}
.sub-bar a.tab-item{
    color: #fff;
    height: 2rem;
    border-bottom: 4px solid transparent;
    position: relative;
    z-index: 99;
}
.sub-bar a.tab-item.active{
    color: #ffc40e;
    border-bottom: 4px solid #ffc40e;
}
.bar-nav .button-nav{
    color: #fff;
}
.bar-nav .button-nav:active, .bar-nav .button-nav.active{
    color: #fff;
}
.main-bar .menu-tab{
    padding-top: 0.4rem;
    margin-bottom: -0.4rem;
    height: auto;
}
.main-bar .menu-tab .dividing-after{
    content: '';
    bottom: 0;
}

.footer-bar{
    height: auto;
    background-color: rgba(36,41,48,0.9);
    z-index: 999;
}
.footer-bar a.tab-item{
    line-height: 0.3rem;
    font-size: 0.6rem;
}
.footer-bar a.tab-item.active, .footer-bar a.tab-item.active{
    color: #242930;
}
.footer-bar a.tab-item .base-icon{
    margin-top: -0.3rem;
}
.footer-bar a.tab-item span{
    display: block;
    width: 100%;
}
.footer-bar .sub-bar{
    height: 3rem;
}

.footer-line-bar a.tab-item{
    height: 2.5rem;
    padding: 0 0 0.5rem;
}
.footer-line-bar a.tab-item.active{
    color: #929292;
}
.footer-line-bar a.tab-item span{
    display: block;
    width: 100%;
    height: 0.9rem;
    position: relative;
}
.footer-line-bar a.tab-item:last-child span:before{
    content: '';
    display: none;
}
.footer-line-bar a.tab-item span:before{
    content: '';
    position: absolute;
    top: 0.22rem;
    right: 0;
    height: 100%;
    width: 1px;
    display: block;
    background-color: #e7e7e7;
    z-index: 99;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.footer-line-bar:before{
    content: '';
    display: none;
}
.footer-menu{
    z-index: 1001;
    height: 6.3rem;
    bottom: -7rem;
    transition: bottom 0.3s;
}
.footer-menu.active{
    bottom: 0;
}
.footer-menu .sub-bar{
    height: 3.5rem;
}
.footer-menu a.tab-item{
    padding-top: 0.15rem;
    height: 3rem;
    text-align: center;
    font-size: 0.7rem;
}
.footer-menu .menu-img{
    display: block;
    width: 1.5rem;
    margin: 0.15rem auto;
}
a.footer-cancel-btn{
    color: #fff;
    position: relative;
}
a.footer-cancel-btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    background: -webkit-radial-gradient(#fff,rgba(0,0,0,0) 70%);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}